$surface: (
    095: #fafafa,
    090: #f4f4f4,
    080: #e5e5e5,
    070: #d3d3d3,
    055: #a0a0a0,
    045: #5e5e5e,
    035: #3c3c3c,
    010: #1a1a1a
);

$text: (
    095: #fafafa,
    090: #f4f4f4,
    070: #d3d3d3,
    055: #a0a0a0,
    045: #5e5e5e,
    035: #3c3c3c,
    010: #1a1a1a,
    Hyperlink: #2b4bab
);

$communication: (
    Success: #00bc59,
    Warning: #ffa030,
    Error: #f75757,
    Info: #2879fd
);

$accent: (
    light: #e2e7f1,
    dark: #226af1
);

$code: (
    Strings: #384cbd,
    Properties: #4d4d4d
);