@import "colors";
@import "components";

.checklist {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .title {
        font-weight: 500;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3 {
            font-size: 2.5rem;
        }

        .settings {
            cursor: pointer;
            font-size: 2rem;
            &:hover {
                color: map-get($surface, 010);
            }
        }
    }

    .menu {
        $height: 600px;
        $width: 400px;
        position: absolute;
        height: $height;
        width: $width;
        top: calc(50% - ($height/2));
        left: calc(50% - ($width/2));
        z-index: 2;
        background-color: map-get($surface, 090);
        display: flex;
        flex-direction: column;
        // overflow-y: scroll;
        padding: 15px;
        border-radius: 10px;

        h2 {
            margin-bottom: 10px;
            font-size: 1.75rem;
        }

        h3 {
            margin-bottom: 10px;
        }

        .tabs-info {
            width: 100%;
            height: 50%;
            overflow-y: scroll;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }

            .tabs {
                display: flex;
                flex-direction: column;
                gap: 20px;
                margin-bottom: 20px;

                .tab {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    padding: 15px;
                    border-radius: 10px;
                    background-color: map-get($surface, 080);

                    .tab-control {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        gap: 10px;
                        position: relative;

                        input {
                            width: 70%;
                            padding: 5px;
                            font-size: 1rem;
                            outline: none;
                            background-color: transparent;
                            border: none;

                            &:focus {
                                + .tab-control-span {
                                    background-color: map-get($surface, 035);
                                    bottom: -2px;
                                }
                            }
                        }

                        .tab-control-span {
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            height: 2px;
                            width: 70%;
                            background-color: map-get($surface, 070);
                            transition:
                                background-color 100ms ease-in-out,
                                bottom 100ms ease-in-out;
                        }

                        button {
                            background-color: map-get($surface, 070);

                            &:hover {
                                background-color: map-get($surface, 090);
                            }
                        }
                    }

                    .tab-data {
                        width: 100%;
                        background-color: transparent;
                        border: 1px solid map-get($surface, 055);
                        outline: none;
                        padding: 5px;

                        &:focus {
                            border: 1px solid map-get($surface, 035);
                        }
                    }
                }

                button {
                    cursor: pointer;
                    border: none;
                    padding: 5px;
                    background-color: map-get($surface, 070);

                    &:hover {
                        background-color: map-get($surface, 080);
                    }
                }
            }
        }
        .divisor {
            width: 100%;
            height: 1px;
            background-color: map-get($surface, 035);
            margin: 10px 0;
        }
        .email-list {
            width: 100%;
            height: 30%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .email-container {
                display: flex;
                flex-direction: column;
                gap: 20px;
                /*  overflow-y: scroll;
                scrollbar-width: none; */
                position: relative;

                &::-webkit-scrollbar {
                    display: none;
                }

                input {
                    font-size: 1rem;
                    outline: none;
                    background-color: transparent;
                    border: none;

                    &:focus {
                        + span {
                            background-color: map-get($surface, 035);
                            bottom: -5px;
                        }
                    }
                }

                span {
                    position: absolute;
                    bottom: -2px;
                    left: 0;
                    height: 2px;
                    width: 100%;
                    background-color: map-get($surface, 070);
                    transition:
                        background-color 100ms ease-in-out,
                        bottom 100ms ease-in-out;
                }
            }

            button {
                cursor: pointer;
                border: none;
                padding: 5px;
                background-color: map-get($surface, 070);

                &:hover {
                    background-color: map-get($surface, 080);
                }
            }
        }

        .menu-btns {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            gap: 10px;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 0 2rem;
            margin-bottom: 2rem;

            button {
                width: 50%;
            }
        }
    }

    .curtain {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        backdrop-filter: blur(15px);
        background-color: rgba(map-get($surface, 010), 0.2);
    }

    .order-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
        gap: 50px;

        .order-input {
            width: 50%;
            position: relative;

            input {
                outline: none;
                border: none;
                background-color: transparent;
                font-size: 1.2rem;
                transition: all 150ms ease-in-out;
                width: 100%;

                &:focus {
                    + .input1-line,
                    + .input2-line {
                        background-color: map-get($surface, 035);
                        bottom: -5px;
                    }
                }
            }

            .input1-line,
            .input2-line {
                position: absolute;
                left: 0;
                bottom: -2px;
                height: 2px;
                width: 100%;
                background-color: map-get($surface, 070);
                transition:
                    background-color 100ms ease-in-out,
                    bottom 100ms ease-in-out;
            }
        }
    }

    .table-container {
        display: flex;
        flex-direction: column;
        height: 440px;
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        border: 1px solid map-get($surface, 055);
        border-radius: 10px;
        border-collapse: collapse;

        .tabs {
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;

            button {
                border: none;
                width: 100%;
                padding: 5px;
                border-left: 1px solid map-get($surface, 055);
                border-bottom: 1px solid map-get($surface, 055);
                border-collapse: collapse;

                &:first-child {
                    border-left: none;
                }

                &:last-child {
                    border-right: 1px solid map-get($surface, 055);
                }
            }
        }

        table {
            margin: 0;
            padding: 0;
            width: 100%;
            border-right: 1px solid map-get($surface, 055);
            border-collapse: collapse;

            thead {
                background-color: map-get($surface, 080);
                border-bottom: 1px solid map-get($surface, 055);
                border-collapse: collapse;
                th,
                td {
                    padding: 0.625em;
                    text-align: left;
                }

                th {
                    font-size: 0.85em;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                }
            }

            tbody {
                border-top: 1px solid map-get($surface, 055);
                border-collapse: collapse;
                tr {
                    background-color: map-get($surface, 090);
                    padding: 0.35em;
                    cursor: pointer;
                    border-top: 1px solid map-get($surface, 055);
                    border-collapse: collapse;

                    th,
                    td {
                        padding: 0.625rem 0.5rem;
                        text-align: left;

                        &:first-child {
                            width: 30px;
                            text-align: right;
                            padding: 0;
                        }

                        &:last-child {
                            text-align: right;
                        }
                    }

                    th {
                        font-size: 0.85em;
                        letter-spacing: 0.1em;
                        text-transform: uppercase;

                        &:first-child {
                            padding: 0;
                        }
                    }
                }
            }
        }
    }

    .action-btns {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 10px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0 2rem;
        margin-bottom: 2rem;

        .submitbtn {
            width: 55%;
            background-color: map-get($communication, Info);
            color: map-get($text, 095);
            border-radius: 5px;
            height: auto;
            display: flex;

            button {
                width: 70%;
                background-color: none;
                border-radius: 5px 0 0 5px;

                &:hover {
                    background-color: rgba(map-get($communication, Info), 0.2);
                    border-radius: 5px 0 0 5px;
                }
            }

            .btn-options {
                width: 30%;
                border-radius: 0 5px 5px 0;
                border-left: 1px solid map-get($text, 095);
            }
        }

        .reset-btn {
            width: 40%;
        }
    }
}
