@import "colors";

button {
    padding: 5px 10px;
}

.action {
    background-color: map-get($communication, Info);
}

.checklist {
    width: 100%;
    height: 100%;

    .title {
        font-weight: 500;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            font-size: 2rem !important;
        }

        button {
            color: map-get($text, 045);
        }
    }

    .order-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;

        input {
            border: none;
            border-bottom: 1px solid map-get($text, 055);
            background-color: transparent;
            font-size: 1.2rem;

            &:first-child {
                width: 50%;
            }

            &:last-child {
                width: 30%;
            }
        }
    }

    table {
        border: 1px solid map-get($surface, 055);
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;

        tr {
            background-color: map-get($surface, 090);
            border: 1px solid map-get($surface, 055);
            padding: 0.35em;
        }

        th,
        td {
            display: flex;
            padding: 0.625em;
            text-align: center;
        }

        th {
            font-size: 0.85em;
            letter-spacing: 0.1em;
            text-transform: uppercase;
        }
    }

    .action-btns {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
        width: 100%;
        height: 50px;

        .submitbtn {
            width: 65%;
            background-color: map-get($communication, Info);
            color: map-get($text, 095);
            border-radius: 5px;
            height: auto;

            .submit {
                width: 70%;
                background-color: none;

                &:hover {
                    background-color: rgba(map-get($communication, Info), 0.2);
                }
            }

            .btn-options{
                width: 30%;
                background-color: none;
                border-left: 1px solid map-get($surface, 095);
                
                &:hover {
                    background-color: rgba(map-get($communication, Info), 0.2);
                }
            }
        }

        .reset-btn {
            width: 30%;
        }
    }
}